

.main {
  background-color: #999;
  padding: 10px 30px 5px 30px;
  margin: 20px 40px;
  border: 2px solid #666;
  border-radius: 5px;


}

.title {
  text-align: center;
  text-decoration: underline;
  font-size: 50px;
  padding-top: 0px;
  font-family: fantasy;
}

.directions {
  text-align: center;
  padding-bottom: 10px;
  font-family: sans-serif;
}

.form {
  background-position: center;
  background-color: lightgrey;
  padding: 10px 30px 20px 30px;
  border: 2px solid grey;
  border-radius: 5px;
  font-family: sans-serif;
}

.footer {
  text-align: center;
  padding: 20px;
  font-style: oblique;
  font-size: 14px;
}


/* Bordered form */
form {
    border: 3px solid #f1f1f1;
    padding: 20px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Hover effect */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
